# The primary network interface
auto eth0
iface eth0 inet dhcp
{% if unbound_listen_on_default %}
    dns-nameservers{% for host in groups['head'] %} {{ hostvars[host].ansible_default_ipv4.address }}{% endfor %} 
{% endif %}
{% if dns_servers is defined %}
    dns-nameservers{% for ns in dns_servers %} {{ ns }}{% endfor %} 
{% endif %}
{% if dns_search is defined %}
    dns-search{% for searchdom in dns_search %} {{ searchdom }}{% endfor %}
{% endif %}
