tosca_definitions_version: tosca_simple_yaml_1_0

imports:
   - custom_types/xos.yaml

description: enough onos config to make the mock work

topology_template:
  node_templates:

    service#ONOS_Fabric:
      type: tosca.nodes.ONOSService

    service#ONOS_CORD:
      type: tosca.nodes.ONOSService

