tosca_definitions_version: tosca_simple_yaml_1_0

description: Onboard the exampleservice

imports:
   - custom_types/xos.yaml

topology_template:
  node_templates:

    # UI Extension Store
    gui-extensions-store:
      type: tosca.nodes.Component
      properties:
        image: node:argon
        command: /bin/true

    /var/www/dist/extensions:
      type: tosca.nodes.ComponentVolume
      properties:
          host_path: ""
          read_only: false
      requirements:
          - xos:
             node: gui-extensions-store
             relationship: tosca.relationships.VolumeOfComponent