tosca_definitions_version: tosca_simple_yaml_1_0

description: Onboard the exampleservice

imports:
   - custom_types/xos.yaml

topology_template:
  node_templates:

    # UI Container
    xos-spa-gui:
      type: tosca.nodes.Component
      properties:
        image: xosproject/xos-gui
        ports: 4000:4000

    gui-to-gw:
      type: tosca.nodes.ComponentLink
      properties:
          container: xos-rest-gateway
          alias: xos-rest-gw
          kind: internal
      requirements:
          - xos:
             node: xos-spa-gui
             relationship: tosca.relationships.LinkOfComponent