tosca_definitions_version: tosca_simple_yaml_1_0

imports:
   - custom_types/xos.yaml
   - custom_types/site.yaml
   - custom_types/slice.yaml
   - custom_types/flavor.yaml
   - custom_types/network.yaml
   - custom_types/networktemplate.yaml

description: network for S1U interface

topology_template:
  node_templates:

# site, fully created in deployment.yaml
    {{ site_name }}:
      type: tosca.nodes.Site
      properties:
          name: {{ site_name }}

# s1u network
    s1u_template:
      type: tosca.nodes.NetworkTemplate
      properties:
          name: s1u_template
          visibility: private
          translation: none
          vtn_kind: PRIVATE

    s1u_network:
      type: tosca.nodes.Network
      properties:
          name: s1u_network
          subnet: 111.0.0.0/24
          permit_all_slices: true
      requirements:
          - template:
              node: s1u_template
              relationship: tosca.relationships.BelongsToOne
          - owner:
              node: {{ site_name }}_s1u
              relationship: tosca.relationships.BelongsToOne

    {{ site_name }}_s1u:
      description: This slice exists solely to own the private network
      type: tosca.nodes.Slice
      properties:
          name: {{ site_name }}_s1u
          default_isolation: vm
          network: noauto
      requirements:
          - site:
              node: {{ site_name }}
              relationship: tosca.relationships.BelongsToOne

