tosca_definitions_version: tosca_simple_yaml_1_0

imports:
   - custom_types/servicegraphconstraint.yaml

description: Constraints on the Services position in the graph

topology_template:
  node_templates:

    constraints:
      type: tosca.nodes.ServiceGraphConstraint
      properties:
        constraints: '{{ xos_gui_service_graph_constraints }}'
