
{#
Copyright 2017-present Open Networking Foundation

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}


tosca_definitions_version: tosca_simple_yaml_1_0

description: create VMMEVendor and VMMETenant

imports:
   - custom_types/xos.yaml
   - custom_types/flavor.yaml
   - custom_types/image.yaml
   - custom_types/vmmeservice.yaml
   - custom_types/vmmevendor.yaml
   - custom_types/vmmetenant.yaml

topology_template:
  node_templates:

    # Created earlier, throws an error without name field
    m1.small:
      type: tosca.nodes.Flavor
      properties:
        name: m1.small
        must-exist: true

    # Created earlier, throws an error without name field
    trusty-server-multi-nic:
      type: tosca.nodes.Image
      properties:
        name: trusty-server-multi-nic
        must-exist: true

    # Created earlier, throws an error without name field
    service#vmme:
      type: tosca.nodes.VMMEService
      properties:
        name: vmme
        must-exist: true

    intel_mme:
      type: tosca.nodes.VMMEVendor
      properties:
        name: intel_mme
      requirements:
        - image:
            node: trusty-server-multi-nic
            relationship: tosca.relationships.BelongsToOne
        - flavor:
            node: m1.small
            relationship: tosca.relationships.BelongsToOne

    vmme_tenant1:
      type: tosca.nodes.VMMETenant
      properties:
        name: vmme_tenant1
      requirements:
        - vmme_vendor:
            node: intel_mme
            relationship: tosca.relationships.BelongsToOne
        - owner:
            node: service#vmme
            relationship: tosca.relationships.BelongsToOne
