tosca_definitions_version: tosca_simple_yaml_1_0

description: Onboard the vRouter service

imports:
   - custom_types/xos.yaml
   - custom_types/vrouter.yaml

topology_template:
  node_templates:

    service#vrouter:
      type: tosca.nodes.VRouterService
      properties:
          view_url: /admin/vrouter/
          no-delete: true
          no-create: true
          rest_hostname: onos-fabric
          rest_port: 8181
          rest_user: onos
          rest_pass: rocks
