---
# roles/juju-setup/defaults/main.yml

openstack_version: kilo

openstack_cfg_path: /usr/local/src/openstack.cfg

head_vm_list:
  - name: "juju"
    cpu: "1"
    memMB: "2048"
    diskGB: "20"

  - name: "ceilometer"
    cpu: "1"
    memMB: "2048"
    diskGB: "20"
    forwarded_ports:
      - { ext: 8777, int: 8777 }

  - name: "glance"
    cpu: "2"
    memMB: "4096"
    diskGB: "160"
    forwarded_ports:
      - { ext: 9292, int: 9292 }

  - name: "keystone"
    cpu: "2"
    memMB: "4096"
    diskGB: "40"
    forwarded_ports:
      - { ext: 35357, int: 35357 }
      - { ext: 4990, int: 4990 }
      - { ext: 5000, int: 5000 }

  - name: "mysql"
    cpu: "2"
    memMB: "4096"
    diskGB: "40"

  - name: "nagios"
    cpu: "1"
    memMB: "2048"
    diskGB: "20"
    forwarded_ports:
      - { ext: 3128, int: 80 }

  - name: "neutron-api"
    cpu: "2"
    memMB: "4096"
    diskGB: "40"
    forwarded_ports:
      - { ext: 9696, int: 9696 }

  - name: "neutron-gateway"
    cpu: "2"
    memMB: "4096"
    diskGB: "40"

  - name: "nova-cloud-controller"
    cpu: "2"
    memMB: "4096"
    diskGB: "40"
    forwarded_ports:
      - { ext: 8774, int: 8774 }

  - name: "openstack-dashboard"
    cpu: "1"
    memMB: "2048"
    diskGB: "20"
    forwarded_ports:
      - { ext: 8080, int: 80 }

  - name: "rabbitmq-server"
    cpu: "2"
    memMB: "4096"
    diskGB: "40"

vm_service_list:
  - ceilometer
  - glance
  - keystone
  - mysql
  - nagios
  - neutron-api
  - neutron-gateway
  - nova-cloud-controller
  - openstack-dashboard
  - rabbitmq-server

standalone_service_list:
  - ntp
  - nrpe
  - ceilometer-agent
  - neutron-openvswitch

service_relations:
  - name: keystone
    relations: [ "mysql", "nrpe", ]

  - name: nova-cloud-controller
    relations: [ "mysql", "rabbitmq-server", "glance", "keystone", "nrpe", ]

  - name: glance
    relations: [ "mysql", "keystone", "nrpe", ]

  - name: neutron-gateway
    relations: [ "neutron-api", "nova-cloud-controller", "mysql", "nrpe", ]

  - name: "neutron-gateway:amqp"
    relations: [ "rabbitmq-server:amqp", ]

  - name: neutron-api
    relations: [ "keystone", "neutron-openvswitch", "mysql", "rabbitmq-server", "nova-cloud-controller", "nrpe", ]

  - name: neutron-openvswitch
    relations: [ "rabbitmq-server", ]

  - name: openstack-dashboard
    relations: [ "keystone", "nrpe", ]

  - name: nagios
    relations: [ "nrpe", ]

  - name: "mysql:juju-info"
    relations: [ "nrpe:general-info", ]

  - name: rabbitmq-server
    relations: [ "nrpe", ]

  - name: ceilometer
    relations: [ "mongodb", "rabbitmq-server", "nagios", "nrpe", ]

  - name: "ceilometer:identity-service"
    relations: [ "keystone:identity-service", ]

  - name: "ceilometer:ceilometer-service"
    relations: [ "ceilometer-agent:ceilometer-service", ]

