{
    "resources" : [
        "onos://onos-cord.cord.lab:8182?auth=basic&user=onos&password=rocks&scheme=http",
        "onos://onos-fabric.cord.lab:8181?auth=basic&user=onos&password=rocks&scheme=http"
     ]
}
