tosca_definitions_version: tosca_simple_yaml_1_0

imports:
   - custom_types/xos.yaml

description: Adds OpenStack compute nodes

topology_template:
  node_templates:

# Site/Deployment, fully defined in deployment.yaml
    {{ site_name }}:
      type: tosca.nodes.Site
      properties:
        no-delete: true
        no-create: true
        no-update: true

    {{ deployment_type }}:
      type: tosca.nodes.Deployment
      properties:
        no-delete: true
        no-create: true
        no-update: true

# OpenStack compute nodes
{% for node in groups["compute"] %}
{% if (('ipv4' in hostvars[node]['ansible_fabric']) or
       ('ipv4' in hostvars[node]['ansible_br_int'])) %}
    {{ hostvars[node]['ansible_hostname'] }}:
      type: tosca.nodes.Node
      requirements:
        - site:
            node: {{ site_name }}
            relationship: tosca.relationships.MemberOfSite
        - deployment:
            node: {{ deployment_type }}
            relationship: tosca.relationships.MemberOfDeployment

{% endif %}
{% endfor %}

