tosca_definitions_version: tosca_simple_yaml_1_0

imports:
   - custom_types/xos.yaml

description: list of compute nodes, created by platform-install

topology_template:
  node_templates:

# Site/Deployment, fully defined in deployment.yaml
    {{ site_name }}:
      type: tosca.nodes.Site

    {{ deployment_type }}:
      type: tosca.nodes.Deployment

# compute nodes
{% for node in groups["compute"] %}
    {{ hostvars[node]['ansible_hostname'] }}:
      type: tosca.nodes.Node
      requirements:
        - site:
            node: {{ site_name }}
            relationship: tosca.relationships.MemberOfSite
        - deployment:
            node: {{ deployment_type }}
            relationship: tosca.relationships.MemberOfDeployment

{% endfor %}

