---
# file: roles/common-prep/tasks/main.yml

- name: Upgrade system to current using apt
  when: run_dist_upgrade
  apt:
    upgrade: dist
    update_cache: yes
    cache_valid_time: 3600

- name: Reboot if required after dist_upgrade
  when: run_dist_upgrade
  stat:
    path: /var/run/reboot-required
  register: reboot_required
  changed_when: reboot_required.stat.exists
  notify:
    - restart host
    - wait for host

- name: Install standard packages
  apt:
    pkg={{ item }}
    state=present
    update_cache=yes
    cache_valid_time=3600
  with_items:
   - tmux
   - vim

- name: Remove annoying default editors
  apt:
    pkg: "{{ item }}"
    state: absent
    update_cache: yes
    cache_valid_time: 3600
  with_items:
   - nano
   - jove

- name: Enable vim syntax highlighting
  lineinfile: dest=/etc/vim/vimrc
    regexp="^\s*syntax on"
    line="syntax on"

- name: Configure tmux
  copy:
    src=tmux.conf
    dest="{{ ansible_user_dir }}/.tmux.conf"

