---

simfabric_bridges:
{{ simfabric_bridges | to_nice_yaml }}

simfabric_links:
{{ simfabric_links | to_nice_yaml }}

simfabric_iptables:
{{ simfabric_iptables | to_nice_yaml }}

simfabric_sysctl:
{{ simfabric_sysctl | to_nice_yaml }}

