[localhost]
127.0.0.1 hostname={{ ansible_fqdn }}

[containers]
{% if head_lxd_list is defined -%}
{% for lxd in head_lxd_list -%}
{{ lxd.name }}
{% endfor -%}
{% endif -%}

[services:children]
containers

