export OS_USERNAME=admin
export OS_PASSWORD={{ keystone_admin_password }}
export OS_TENANT_NAME=admin
export OS_AUTH_URL=https://keystone.{{ site_suffix }}:5000/v2.0
export OS_REGION_NAME=RegionOne
export REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt
