---
# juju configuration file for CORD deployments

ceilometer:
  openstack-origin: "cloud:trusty-kilo"

ceilometer-agent: {}

glance:
  openstack-origin: "cloud:trusty-kilo"
  ha-mcastport: 5402

keystone:
  admin-password: "{{ keystone_admin_password }}"
  os-public-hostname: "keystone.{{ site_suffix }}"
  ha-mcastport: 5403
  openstack-origin: "cloud:trusty-kilo"
  use-https: "yes"
  ssl_key: {{ lookup('file', '{{ playbook_dir }}/pki/intermediate_ca/private/keystone.{{ site_suffix }}_key.pem') | b64encode }}
  ssl_cert: {{ lookup('file', '{{ playbook_dir }}/pki/intermediate_ca/certs/keystone.{{ site_suffix }}_cert.pem') | b64encode }}
  ssl_ca: {{ lookup('file', '{{ playbook_dir }}/pki/intermediate_ca/certs/im_cert_chain.pem') | b64encode }}

mongodb: {}

nagios: {}

neutron-api:
  neutron-plugin: onosvtn
  onos-vtn-ip: onos-cord
  onos-vtn-port: 8182
  neutron-security-groups: "True"
  openstack-origin: "cloud:trusty-kilo"
  overlay-network-type: vxlan

neutron-openvswitch: {}

nova-cloud-controller:
  config-flags: "force_config_drive=always"
  console-access-protocol: novnc
  network-manager: Neutron
  openstack-origin: "cloud:trusty-kilo"

nova-compute:
  virt-type: kvm
  config-flags: "firewall_driver=nova.virt.firewall.NoopFirewallDriver"
  disable-neutron-security-groups: "True"
  openstack-origin: "cloud:trusty-kilo"

nrpe: {}

ntp: {}

openstack-dashboard:
  openstack-origin: "cloud:trusty-kilo"

percona-cluster:
   max-connections: 20000

rabbitmq-server:
  ssl: "on"

