default: manual
environments:
    manual:
        type: manual
        bootstrap-host: juju.{{ site_suffix }}
        bootstrap-user: ubuntu
        default-series: {{ ansible_distribution_release }}
