default: manual
environments:
    manual:
        type: manual
        bootstrap-host: {{ ansible_mgmtbr.ipv4.address }}
        bootstrap-user: {{ ansible_user_id }}
        default-series: {{ ansible_distribution_release }}
        enable-os-refresh-update: false
        enable-os-upgrade: false

