---
# juju configuration file for OpenCloud deployments

ceilometer: {}

ceilometer-agent: {}

glance:
  openstack-origin: "cloud:trusty-kilo"

keystone:
  admin-password: "{{ keystone_admin_password }}"
  os-public-hostname: "keystone.{{ site_suffix }}"
  use-https: "yes"
  openstack-origin: "cloud:trusty-kilo"
  ssl_key: {{ lookup('file', '{{ playbook_dir }}/pki/intermediate_ca/private/keystone.{{ site_suffix }}_key.pem') | b64encode }}
  ssl_cert: {{ lookup('file', '{{ playbook_dir }}/pki/intermediate_ca/certs/keystone.{{ site_suffix }}_cert_chain.pem') | b64encode }}
  ssl_ca: {{ lookup('file', '{{ playbook_dir }}/pki/intermediate_ca/certs/im_cert_chain.pem') | b64encode }}

mongodb: {}

neutron-api:
  flat-network-providers: "*"
  openstack-origin: "cloud:trusty-kilo"
  vlan-ranges: "physnet1:1000:2000 nat"

neutron-gateway:
  bridge-mappings: "physnet1:br-data nat:br-nat"
  flat-network-providers: "*"
  instance-mtu: "1400"
  openstack-origin: "cloud:trusty-kilo"
  vlan-ranges: "physnet1:1000:2000 nat"

neutron-openvswitch:
  bridge-mappings: "physnet1:br-data nat:br-nat"
  disable-security-groups: "True"
  flat-network-providers: "*"
  vlan-ranges: "physnet1:1000:2000 nat"

nova-cloud-controller:
  console-access-protocol: "novnc"
  network-manager: "Neutron"
  openstack-origin: "cloud:trusty-kilo"

nova-compute:
  virt-type: kvm
  config-flags: "firewall_driver=nova.virt.firewall.NoopFirewallDriver"
  openstack-origin: "cloud:trusty-kilo"

ntp:
  source: "0.ubuntu.pool.ntp.org 1.ubuntu.pool.ntp.org 2.ubuntu.pool.ntp.org 3.ubuntu.pool.ntp.org"

openstack-dashboard:
  openstack-origin: "cloud:trusty-kilo"

percona-cluster: {}

rabbitmq-server:
  ssl: "on"

