# docker-compose.yml for onos-apps mavenrepo
version: '2'

services:

  mavenrepo:
    image: {{ deploy_docker_registry }}opencord/mavenrepo:{{ deploy_docker_tag }}
    container_name: mavenrepo
    ports:
      - "8080:80"
    restart: unless-stopped


