---
tosca_definitions_version: tosca_simple_yaml_1_0

description: Have the XOS container mount the exampleservice volume

imports:
   - custom_types/xos.yaml

topology_template:
  node_templates:

    xos:
      type: tosca.nodes.XOS

    /opt/xos_services/exampleservice:
      type: tosca.nodes.XOSVolume
      properties:
          host_path: "{{ cord_dir }}/orchestration/xos_services/exampleservice"
          read_only: True
      requirements:
          - xos:
             node: xos
             relationship: tosca.relationships.UsedByXOS

